
LICCUPL/.metadata/.log
LICCUPL/.metadata/.log
LICCUPL/.metadata/.log
LICCUPL/.metadata/.plugins/org.eclipse.core.resources/.projects/RouletteDisplay/.indexes/e4/history.index
LICCUPL/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
*.prefs
*.xml
LICJAVA/.idea/workspace.xml
LICJAVA/.idea/workspace.xml
